# .env file for running `docker compose` on local
MANAGE_USERS_API_CLIENT_ID=
MANAGE_USERS_API_CLIENT_SECRET=
PRISONER_SEARCH_API_CLIENT_ID=
PRISONER_SEARCH_API_CLIENT_SECRET=
PRISON_API_CLIENT_ID=
PRISON_API_CLIENT_SECRET=
