SERVER_PORT=8081
SPRING_PROFILES_ACTIVE=dev
HMPPS_AUTH_URL=https://sign-in-dev.hmpps.service.justice.gov.uk/auth
DB_SERVER=localhost:5432
DB_NAME=education-and-work-plan-api_db
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/education-and-work-plan-api_db
DB_USER=admin
DB_PASS=admin_password
DPR_USER=dpr_user
DPR_PASSWORD=dpr_password
HMPPS_SAR_ADDITIONALACCESSROLE=ROLE_EDUCATION_AND_WORK_PLAN__ACTIONPLANS__RW
PRISON_API_URL=https://prison-api-dev.prison.service.justice.gov.uk/
MANAGE_USERS_API_URL=https://manage-users-api-dev.hmpps.service.justice.gov.uk
CIAG_KPI_PROCESSING_RULE=PEF
PRISONER_SEARCH_API_URL=https://prisoner-search-dev.prison.service.justice.gov.uk
SERVICE_BASE_URL=http://localhost:8081
PES_CONTRACT_START_DATE=2025-10-01
INDUCTION_EXTENSION_PERIODS=2025-12-20:2026-01-01
# ALWAYS or ONLY_WHEN_NOT_OVERDUE
EXEMPTION_EXTEND_DEADLINE=ONLY_WHEN_NOT_OVERDUE
HMPPS_SQS_ENABLED=false

### secerets!!
MANAGE_USERS_API_CLIENT_ID=
MANAGE_USERS_API_CLIENT_SECRET=
PRISONER_SEARCH_API_CLIENT_ID=
PRISONER_SEARCH_API_CLIENT_SECRET=
PRISON_API_CLIENT_ID=
PRISON_API_CLIENT_SECRET=
