version: 2.1

orbs:
  hmpps: ministryofjustice/hmpps@10

parameters:
  alerts-slack-channel:
    type: string
    default: dps_alerts_security
  releases-slack-channel:
    type: string
    default: dps-releases
  java-version:
    type: string
    default: "25.0"
  postgres-version:
    type: string
    default: "15.5"
  localstack-version:
    type: string
    default: "3.6.0"
  java-options:
    type: string
    default: -Xmx2g -XX:MaxMetaspaceSize=1g -XX:ParallelGCThreads=2 -XX:ConcGCThreads=2 -Djava.util.concurrent.ForkJoinPool.common.parallelism=2 -Dorg.gradle.daemon=false -Dkotlin.compiler.execution.strategy=in-process -Dorg.gradle.workers.max=1

jobs:
  validate:
    resource_class: "medium+"
    executor:
      name: hmpps/java_localstack_postgres_with_db_name
      jdk_tag: << pipeline.parameters.java-version >>
      java_options: << pipeline.parameters.java-options >>
      postgres_tag: << pipeline.parameters.postgres-version >>
      postgres_db: "education_and_work_plan_api_db"
      postgres_username: "admin"
      postgres_password: "admin_password"
      localstack_tag: << pipeline.parameters.localstack-version >>
      services: "sqs,sns"
    environment:
      DB_SERVER: localhost
      DB_NAME: education_and_work_plan_api_db
      DB_USER: admin
      DB_PASS: admin_password
    steps:
      - checkout
      - restore_cache:
          keys:
            - gradle-{{ checksum "build.gradle.kts" }}
            - gradle-
      - run:
          command: ./gradlew  --daemon check
      - run:
          command: ./gradlew --daemon combineJacocoReports
      - save_cache:
          paths:
            - ~/.gradle
          key: gradle-{{ checksum "build.gradle.kts" }}
      - store_test_results:
          path: build/test-results
      - store_test_results:
          path: domain/goal/build/test-results
      - store_test_results:
          path: domain/timeline/build/test-results
      - run:
          name: Compress Build Reports Artifacts
          command: |
            tar -cvzf build-reports.tar \
            build/reports/tests \
            build/reports/jacoco \
            domain/learningandworkprogress/build/reports/tests \
            domain/learningandworkprogress/build/reports/jacoco \
            domain/personallearningplan/build/reports/tests \
            domain/personallearningplan/build/reports/jacoco \
            domain/timeline/build/reports/tests \
            domain/timeline/build/reports/jacoco
      - store_artifacts:
          path: build-reports.tar
      - store_artifacts:
          path: build/reports/tests

workflows:
  version: 2
  build-test-and-deploy:
    jobs:
      - validate:
          filters:
            tags:
              ignore: /.*/
      - hmpps/helm_lint:
          name: helm_lint
      - hmpps/build_multiplatform_docker:
          name: build_docker
          filters:
            branches:
              only:
                - main
      - hmpps/deploy_env:
          name: deploy_dev
          env: "dev"
          jira_update: true
          pipeline_id: <<pipeline.id>>
          pipeline_number: <<pipeline.number>>
          context: hmpps-common-vars
          filters:
            branches:
              only:
                - main
          requires:
            - validate
            - build_docker
            - helm_lint
          helm_timeout: 5m
      - request-preprod-approval:
          type: approval
          requires:
            - deploy_dev
      - hmpps/deploy_env:
          name: deploy_preprod
          env: "preprod"
          jira_update: true
          jira_env_type: staging
          pipeline_id: <<pipeline.id>>
          pipeline_number: <<pipeline.number>>
          context:
            - hmpps-common-vars
            - hmpps-education-and-work-plan-api-preprod
          requires:
            - request-preprod-approval
          helm_timeout: 5m
      - request-prod-approval:
          type: approval
          requires:
            - deploy_preprod
      - hmpps/deploy_env:
          name: deploy_prod
          env: "prod"
          jira_update: true
          jira_env_type: production
          pipeline_id: <<pipeline.id>>
          pipeline_number: <<pipeline.number>>
          slack_notification: true
          slack_channel_name: << pipeline.parameters.releases-slack-channel >>
          context:
            - hmpps-common-vars
            - hmpps-education-and-work-plan-api-prod
          requires:
            - request-prod-approval
          helm_timeout: 5m

  security:
    triggers:
      - schedule:
          cron: "10 6 * * 1-5"
          filters:
            branches:
              only:
                - main
    jobs:
      - hmpps/gradle_owasp_dependency_check:
          slack_channel: << pipeline.parameters.alerts-slack-channel >>
          context:
            - hmpps-common-vars
          jdk_tag: "25.0"
          cache_key: "v3_0"
      - hmpps/trivy_latest_scan:
          slack_channel: << pipeline.parameters.alerts-slack-channel >>
          context:
            - hmpps-common-vars
      - hmpps/veracode_pipeline_scan:
          slack_channel: << pipeline.parameters.alerts-slack-channel >>
          context:
            - veracode-credentials
            - hmpps-common-vars
  security-weekly:
    triggers:
      - schedule:
          cron: "33 6 * * 1"
          filters:
            branches:
              only:
                - main
    jobs:
      - hmpps/veracode_policy_scan:
          slack_channel: << pipeline.parameters.alerts-slack-channel >>
          context:
            - veracode-credentials
            - hmpps-common-vars