<h1 class="title">Personal Learning Plan</h1>

<h2>Completed induction</h2>
{{#induction}}
    <table class="summary-list">
        <tr>
            <td class="data-column-30">Conducted by name</td>
            <td>{{#inductionCompletionMetadata.conductedBy}}{{.}}{{/inductionCompletionMetadata.conductedBy}}{{^inductionCompletionMetadata.conductedBy}}{{ getUserLastName createdBy }}{{/inductionCompletionMetadata.conductedBy}}</td>
        </tr>
        <tr>
            <td class="data-column-30">Conducted by role</td>
            <td>{{ optionalValue inductionCompletionMetadata.conductedByRole }}</td>
        </tr>
        <tr>
            <td class="data-column-30">Induction completed date</td>
            <td>{{ optionalValue inductionCompletionMetadata.completedDate }}</td>
        </tr>
        <tr>
            <td class="data-column-30">Learning plan created date</td>
            <td>{{ optionalValue (formatDate createdAt) }}</td>
        </tr>
        <tr>
            <td class="data-column-30">Learning plan created by</td>
            <td>{{ getUserLastName createdBy }}</td>
        </tr>
        <tr>
            <td class="data-column-30">Learning plan created at prison</td>
            <td>{{ getPrisonName createdAtPrison }}</td>
        </tr>
        <tr>
            <td class="data-column-30">Note content</td>
            <td>{{ optionalValue inductionCompletionMetadata.notes }}</td>
        </tr>
    </table>
{{/induction}}
{{^induction}}
    <p>No Data Held</p>
{{/induction}}
<br>

<h2>Completed reviews</h2>
{{#completedReviews}}
    <h3>Review</h3>
    <table class="summary-list">
        <tr>
            <td class="data-column-30">Conducted by name</td>
            <td>{{#conductedBy}}{{.}}{{/conductedBy}}{{^conductedBy}}{{ getUserLastName createdBy }}{{/conductedBy}}</td>
        </tr>
        <tr>
            <td class="data-column-30">Conducted by role</td>
            <td>{{ optionalValue conductedByRole }}</td>
        </tr>
        <tr>
            <td class="data-column-30">Completed date</td>
            <td>{{ optionalValue (formatDate completedDate) }}</td>
        </tr>
        <tr>
            <td class="data-column-30">Review entered by</td>
            <td>{{ getUserLastName createdBy }}</td>
        </tr>
        <tr>
            <td class="data-column-30">Review entered on</td>
            <td>{{ optionalValue (formatDate createdAt) }}</td>
        </tr>
        <tr>
            <td class="data-column-30">Learning plan reviewed at prison</td>
            <td>{{ getPrisonName createdAtPrison }}</td>
        </tr>
        <tr>
            <td class="data-column-30">Is last review before release</td>
            <td>{{ convertBoolean preRelease }}</td>
        </tr>
        <tr>
            <td class="data-column-30">Deadline date</td>
            <td>{{ optionalValue (formatDate deadlineDate) }}</td>
        </tr>
        <tr>
            <td class="data-column-30">Note content</td>
            <td>{{ optionalValue note.content }}</td>
        </tr>
    </table>
{{/completedReviews}}
{{^completedReviews}}
    <p>No Data Held</p>
{{/completedReviews}}
<br>

<h2>Work and training</h2>
{{#induction}}
    {{#workOnRelease}}
        <table class="summary-list">
            <tr>
                <td class="data-column-30">Hoping to work</td>
                <td>{{ optionalValue hopingToWork }}</td>
            </tr>
            <tr>
                <td class="data-column-30">Factors affecting ability to work</td>
                <td>{{#affectAbilityToWork}}{{ . }}{{#unless @last}}<br>{{/unless}}{{/affectAbilityToWork}}</td>
            </tr>
            <tr>
                <td class="data-column-30">Other Factors</td>
                <td>{{ optionalValue affectAbilityToWorkOther}}</td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Updated by</td>
                <td class="data-column-35">Updated at</td>
                <td class="data-column-30">Updated at prison</td>
            </tr>
            <tr>
                <td>{{ getUserLastName updatedBy }}</td>
                <td>{{ optionalValue (formatDate updatedAt) }}</td>
                <td>{{ getPrisonName updatedAtPrison }}</td>
            </tr>
        </table>
    {{/workOnRelease}}
    <br>
    {{#previousTraining}}
        <table class="summary-list">
            <tr>
                <td class="data-column-30">Previous training</td>
                <td>{{#trainingTypes}}{{ . }}{{#unless @last}}<br>{{/unless}}{{/trainingTypes}}</td>
            </tr>
            <tr>
                <td class="data-column-30">Other Training</td>
                <td>{{ optionalValue trainingTypeOther }}</td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Updated by</td>
                <td class="data-column-35">Updated at</td>
                <td class="data-column-30">Updated at prison</td>
            </tr>
            <tr>
                <td>{{ getUserLastName updatedBy }}</td>
                <td>{{ optionalValue (formatDate updatedAt) }}</td>
                <td>{{ getPrisonName updatedAtPrison }}</td>
            </tr>
        </table>
    {{/previousTraining}}
{{/induction}}
{{^induction}}
    <p>No Data Held</p>
{{/induction}}
<br>

<h2>Previous work experience</h2>
{{#induction}}
    {{#previousWorkExperiences}}
        <table class="summary-list">
            <tr>
                <td class="data-column-30">Has worked before</td>
                <td>{{ optionalValue hasWorkedBefore }}</td>
            </tr>
            <tr>
                <td class="data-column-30">Has worked before Not Relevant reason</td>
                <td>{{ optionalValue hasWorkedBeforeNotRelevantReason }}</td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-20">Type</td>
                <td class="data-column-15">Type Other</td>
                <td class="data-column-25">Role</td>
                <td class="data-column-40">Details</td>
            </tr>
            {{#experiences}}
                <tr>
                    <td>{{ optionalValue experienceType }}</td>
                    <td>{{ optionalValue experienceTypeOther }}</td>
                    <td>{{ optionalValue role }}</td>
                    <td>{{ optionalValue details }}</td>
                </tr>
            {{/experiences}}
            {{^experiences}}
                <tr>
                    <td>No Data Held</td>
                    <td>No Data Held</td>
                    <td>No Data Held</td>
                    <td>No Data Held</td>
                </tr>
            {{/experiences}}
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Updated by</td>
                <td class="data-column-35">Updated at</td>
                <td class="data-column-30">Updated at prison</td>
            </tr>
            <tr>
                <td>{{ getUserLastName updatedBy }}</td>
                <td>{{ optionalValue (formatDate updatedAt) }}</td>
                <td>{{ getPrisonName updatedAtPrison }}</td>
            </tr>
        </table>
    {{/previousWorkExperiences}}
{{/induction}}
{{^induction}}
    <p>No Data Held</p>
{{/induction}}
<br>

<h2>Interests and skills</h2>
{{#induction}}
    {{#inPrisonInterests}}
        <table class="summary-list">
            <tr>
                <td class="data-column-30">In prison work interests</td>
                <td>
                    {{#inPrisonWorkInterests}}
                        {{ workType }}{{#if workTypeOther}} ({{ workTypeOther }}){{/if}}{{#unless @last}}<br>{{/unless}}
                    {{/inPrisonWorkInterests}}
                    {{^inPrisonWorkInterests}}
                        No Data Held
                    {{/inPrisonWorkInterests}}
                </td>
            </tr>
            <tr>
                <td class="data-column-30">In prison training interests</td>
                <td>
                    {{#inPrisonTrainingInterests}}
                        {{ trainingType }}{{#if trainingTypeOther}} ({{ trainingTypeOther }}){{/if}}{{#unless @last}}<br>{{/unless}}
                    {{/inPrisonTrainingInterests}}
                    {{^inPrisonTrainingInterests}}
                        No Data Held
                    {{/inPrisonTrainingInterests}}
                </td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Updated by</td>
                <td class="data-column-35">Updated at</td>
                <td class="data-column-30">Updated at prison</td>
            </tr>
            <tr>
                <td>{{ getUserLastName updatedBy }}</td>
                <td>{{ optionalValue (formatDate updatedAt) }}</td>
                <td>{{ getPrisonName updatedAtPrison }}</td>
            </tr>
        </table>
    {{/inPrisonInterests}}
    <br>
    {{#personalSkillsAndInterests}}
        <table class="summary-list">
            <tr>
                <td>Skills</td>
                <td>
                    {{#skills}}
                        {{ skillType }}{{#if skillTypeOther}} ({{ skillTypeOther }}){{/if}}{{#unless @last}}<br>{{/unless}}
                    {{/skills}}
                    {{^skills}}
                        No Data Held
                    {{/skills}}
                </td>
            </tr>
            <tr>
                <td>Interests</td>
                <td>
                    {{#interests}}
                        {{ interestType }}{{#if interestTypeOther}} ({{ interestTypeOther }}){{/if}}{{#unless @last}}<br>{{/unless}}
                    {{/interests}}
                    {{^interests}}
                        No Data Held
                    {{/interests}}
                </td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Updated by</td>
                <td class="data-column-35">Updated at</td>
                <td class="data-column-30">Updated at prison</td>
            </tr>
            <tr>
                <td>{{ getUserLastName updatedBy }}</td>
                <td>{{ optionalValue (formatDate updatedAt) }}</td>
                <td>{{ getPrisonName updatedAtPrison }}</td>
            </tr>
        </table>
    {{/personalSkillsAndInterests}}
    <br>
    {{#futureWorkInterests}}
        <table class="summary-list">
            <tr>
                <td>Future work interests</td>
                <td>
                    {{#interests}}
                        {{ workType }}{{#if workTypeOther}} ({{ workTypeOther }}){{/if}}{{#if role}} - {{ role }}{{/if}}{{#unless @last}}<br>{{/unless}}
                    {{/interests}}
                    {{^interests}}
                        No Data Held
                    {{/interests}}
                </td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Updated by</td>
                <td class="data-column-35">Updated at</td>
                <td class="data-column-30">Updated at prison</td>
            </tr>
            <tr>
                <td>{{ getUserLastName updatedBy }}</td>
                <td>{{ optionalValue (formatDate updatedAt) }}</td>
                <td>{{ getPrisonName updatedAtPrison }}</td>
            </tr>
        </table>
    {{/futureWorkInterests}}
{{/induction}}
{{^induction}}
    <p>No Data Held</p>
{{/induction}}
<br>

<h2>Education</h2>
{{#education}}
    <table class="summary-list">
        <tr>
            <td class="data-column-30">Education level</td>
            <td>{{ optionalValue educationLevel }}</td>
        </tr>
    </table>
    <table class="data-table">
        <tr>
            <td class="data-column-30">Updated by</td>
            <td class="data-column-35">Updated at</td>
            <td class="data-column-30">Updated at prison</td>
        </tr>
        <tr>
            <td>{{ getUserLastName updatedBy }}</td>
            <td>{{ optionalValue (formatDate updatedAt) }}</td>
            <td>{{ getPrisonName updatedAtPrison }}</td>
        </tr>
    </table>
{{/education}}
{{^education}}
    <p>No Data Held</p>
{{/education}}
<br>

<h2>Qualifications</h2>
{{#education.qualifications}}
    <table class="data-table">
        <tr>
            <td class="data-column-30">Subject</td>
            <td class="data-column-35">Level</td>
            <td class="data-column-30">Grade</td>
        </tr>
        <tr>
            <td>{{ optionalValue subject }}</td>
            <td>{{ optionalValue level }}</td>
            <td>{{ optionalValue grade }}</td>
        </tr>
    </table>
    <table class="data-table">
        <tr>
            <td class="data-column-30">Updated by</td>
            <td class="data-column-35">Updated at</td>
            <td class="data-column-30">Updated at prison</td>
        </tr>
        <tr>
            <td>{{ getUserLastName updatedBy }}</td>
            <td>{{ optionalValue (formatDate updatedAt) }}</td>
            <td>{{ getPrisonName updatedAtPrison }}</td>
        </tr>
    </table>
    <br>
{{/education.qualifications}}
{{^education.qualifications}}
    <p>No Data Held</p>
    <br>
{{/education.qualifications}}

<h2>Employability skills</h2>
{{#induction.employabilitySkills}}
    <h3>Employability skill</h3>
    <table class="summary-list">
        <tr>
            <td class="data-column-30">Skill name</td>
            <td>{{ employabilitySkillType }}</td>
        </tr>
        <tr>
            <td class="data-column-30">Skill rating</td>
            <td>{{ employabilitySkillRating }}</td>
        </tr>
        <tr>
            <td class="data-column-30">Skill activity or session</td>
            <td>{{ optionalValue sessionType }}</td>
        </tr>
        <tr>
            <td class="data-column-30">Skill activity or session description</td>
            <td>{{ optionalValue sessionTypeDescription }}</td>
        </tr>
        <tr>
            <td class="data-column-30">Skill rating evidence</td>
            <td>{{ evidence }}</td>
        </tr>
    </table>
    <table class="data-table">
        <tr>
            <td class="data-column-30">Created by</td>
            <td class="data-column-35">Created at</td>
            <td class="data-column-30">Created at prison</td>
        </tr>
        <tr>
            <td>{{ getUserLastName createdBy }}</td>
            <td>{{ optionalValue (formatDate createdAt) }}</td>
            <td>{{ getPrisonName createdAtPrison }}</td>
        </tr>
    </table>
{{/induction.employabilitySkills}}
{{^induction.employabilitySkills}}
    <p>No Data Held</p>
{{/induction.employabilitySkills}}
<br>

<h2>Goals</h2>
{{#goals}}
    <h3>Goal</h3>
    <table class="summary-list">
        <tr><td>Title</td><td>{{ optionalValue title }}</td></tr>
        <tr><td>Target completion date</td><td>{{ optionalValue (formatDate targetCompletionDate) }}</td></tr>
        <tr><td>Status</td><td>{{ optionalValue status }}</td></tr>
    </table>
    <table class="data-table">
        <tr>
            <td class="data-column-100">Notes</td>
        </tr>
        <tr>
            <td>{{ optionalValue goalNote }}</td>
        </tr>
    </table>
    <table class="summary-list">
        <tr><td>Reason for archiving</td><td>{{ optionalValue archiveReason }}</td></tr>
        <tr><td>Archive reason Other</td><td>{{ optionalValue archiveReasonOther }}</td></tr>
    </table>
    <table class="data-table">
        <tr>
            <td class="data-column-100">Archived goal note</td>
        </tr>
        <tr>
            <td>{{ optionalValue goalArchiveNote }}</td>
        </tr>
    </table>
    <table class="data-table">
        <tr>
            <td class="data-column-100">Goal completion note</td>
        </tr>
        <tr>
            <td>{{ optionalValue goalCompletionNote }}</td>
        </tr>
    </table>

    <table class="data-table">
        <tr>
            <td class="data-column-15">Step</td>
            <td class="data-column-25">Status</td>
            <td class="data-column-60">Title</td>
        </tr>
        {{#steps}}
            <tr>
                <td>{{ optionalValue sequenceNumber }}</td>
                <td>{{ optionalValue status }}</td>
                <td>{{ optionalValue title }}</td>
            </tr>
        {{/steps}}
    </table>

    <table class="data-table">
        <tr>
            <td class="data-column-30">Created by</td>
            <td class="data-column-35">Created at</td>
            <td class="data-column-30">Created at prison</td>
        </tr>
        <tr>
            <td>{{ getUserLastName createdBy }}</td>
            <td>{{ optionalValue (formatDate createdAt) }}</td>
            <td>{{ getPrisonName createdAtPrison }}</td>
        </tr>
    </table>
    <table class="data-table">
        <tr>
            <td class="data-column-30">Updated by</td>
            <td class="data-column-35">Updated at</td>
            <td class="data-column-30">Updated at prison</td>
        </tr>
        <tr>
            <td>{{ getUserLastName updatedBy }}</td>
            <td>{{ optionalValue (formatDate updatedAt) }}</td>
            <td>{{ getPrisonName updatedAtPrison }}</td>
        </tr>
    </table>
    <br>
{{/goals}}
{{^goals}}
    <p>No Data Held</p>
{{/goals}}
