generic-service:
  nameOverride: hmpps-education-and-work-plan-api
  replicaCount: 4

  image:
    repository: quay.io/hmpps/hmpps-education-and-work-plan-api
    tag: app_version # override at deployment time
    port: 8080

  ingress:
    enabled: true
    host: app-hostname.local # override per environment
    tlsSecretName: hmpps-education-and-work-plan-api-cert
    annotations:
      # Secure the endpoints related to k8s jobs from outside the Kubernetes ingress
      nginx.ingress.kubernetes.io/server-snippet: |
        server_tokens off;
        location /queue-admin/retry-all-dlqs {
          deny all;
          return 401;
        }

  # Used to access resources like SQS queues and SNS topics
  serviceAccountName: hmpps-education-and-work-plan

  # Environment variables to load into the deployment
  env:
    JAVA_OPTS: "-Xmx512m"
    SERVER_PORT: "8080"
    SPRING_PROFILES_ACTIVE: "logstash"
    APPLICATIONINSIGHTS_CONNECTION_STRING: "InstrumentationKey=$(APPINSIGHTS_INSTRUMENTATIONKEY);IngestionEndpoint=https://northeurope-0.in.applicationinsights.azure.com/;LiveEndpoint=https://northeurope.livediagnostics.monitor.azure.com/"
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.json
    HMPPS_AUTH_URL: https://sign-in.hmpps.service.justice.gov.uk/auth
    PRISON_API_URL: https://prison-api.prison.service.justice.gov.uk
    MANAGE_USERS_API_URL: https://manage-users-api.hmpps.service.justice.gov.uk
    PRISONER_SEARCH_API_URL: https://prisoner-search.prison.service.justice.gov.uk
    HMPPS_SAR_ADDITIONALACCESSROLE: ROLE_EDUCATION_WORK_PLAN_VIEWER
    HMPPS_SQS_ENABLED: true
    CIAG_KPI_PROCESSING_RULE: "PEF" # Set to PEF or PES depending on Curious support
    SERVICE_BASE_URL: "https://learningandworkprogress-api.hmpps.service.justice.gov.uk"
    PES_CONTRACT_START_DATE: 2025-10-01

  # additional config for the application
  volumes:
    - name: app-config
      configMap:
        name: hmpps-education-and-work-plan-api-config
  volumeMounts:
    - name: app-config
      mountPath: /config
      readOnly: true

  # Pre-existing kubernetes secrets to load as environment variables in the deployment.
  # namespace_secrets:
  #   [name of kubernetes secret]:
  #     [name of environment variable as seen by app]: [key of kubernetes secret to load]

  namespace_secrets:
    hmpps-education-and-work-plan-api:
      APPINSIGHTS_INSTRUMENTATIONKEY: "APPINSIGHTS_INSTRUMENTATIONKEY"
      PRISON_API_CLIENT_ID: "PRISON_API_CLIENT_ID"
      PRISON_API_CLIENT_SECRET: "PRISON_API_CLIENT_SECRET"
      PRISONER_SEARCH_API_CLIENT_ID: "PRISONER_SEARCH_API_CLIENT_ID"
      PRISONER_SEARCH_API_CLIENT_SECRET: "PRISONER_SEARCH_API_CLIENT_SECRET"
      MANAGE_USERS_API_CLIENT_ID: "MANAGE_USERS_API_CLIENT_ID"
      MANAGE_USERS_API_CLIENT_SECRET: "MANAGE_USERS_API_CLIENT_SECRET"
    rds-postgresql-instance-output:
      DB_SERVER: "rds_instance_address"
      DB_NAME: "database_name"
      DB_USER: "database_username"
      DB_PASS: "database_password"
    digital-prison-reporting:
      DPR_USER: "DPR_USER"
      DPR_PASSWORD: "DPR_PASSWORD"

    # Inbound SQS config
    hmpps-domain-events-topic:
      HMPPS_SQS_TOPICS_DOMAINEVENTS_ARN: "topic_arn"
    education-and-work-plan-domain-events-sqs-instance-output:
      HMPPS_SQS_QUEUES_EDUCATIONANDWORKPLAN_QUEUE_NAME: "sqs_queue_name"
    education-and-work-plan-domain-events-sqs-dl-instance-output:
      HMPPS_SQS_QUEUES_EDUCATIONANDWORKPLAN_DLQ_NAME: "sqs_queue_name"
    education-and-work-plan-assessments-queue:
      HMPPS_SQS_QUEUES_ASSESSMENTEVENTS_QUEUE_NAME: "sqs_queue_name"
    education-and-work-plan-assessments-dlq:
      HMPPS_SQS_QUEUES_ASSESSMENTEVENTS_DLQ_NAME: "sqs_queue_name"

  allowlist:
    groups:
      - internal

generic-prometheus-alerts:
  targetApplication: hmpps-education-and-work-plan-api

generic-data-analytics-extractor:
  cronJobNameOverride: export-database-to-analytical-platform-cronjob
  serviceAccountName: hmpps-education-and-work-plan-prod-to-ap-s3
  cronJobSchedule: "0 1 * * *" # 1am every day
  databaseSecretName: rds-postgresql-instance-output
  destinationS3SecretName: analytical-platform-reporting-s3-irsa
  enabled: true

queueHousekeeping:
  cronJobSchedule: "*/10 * * * *"

inductionExtension:
  periods:
    - start: 2025-12-20
      end: 2026-01-01